html  {
  background: url(images/woodbg.jpg) repeat fixed;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #e06148;
}

.arrow {
  width: 30px;
  margin-top: 2px;
  float: right;
}

a:hover .arrow,
a:hover .postarrow {
  background: url("images/arrow-solid.png") no-repeat;
  background-size: 100%;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
  color: #7d4544;
  font-weight: 400;
}

p {
  font-size: 20px;
}


/*TOP LEVEL RULES */

#top {
  width: 100%;
  overflow: hidden;
}

#topcontainer {
  margin: 2% 5%;
  overflow: hidden;
  height: 30vh;
  min-height: 200px;
}

#logo {
  width: 25%;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#logo img {
  width: 100%;
}

#socialnav {
  width: 70%;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#socialnav a {
  border: none;
  text-decoration: none;
}

#socialnav ul {
  padding: 0;
  overflow: hidden;
}

#socialnav li {
  display: inline;
  width: 15%;
  float: right;
  margin-left: 5%;
}

#socialnav img {
  width: 80%;
  padding: 10%;
}

/* MAIN NAVIGATION */

#mainnav {
  background: #e06148;
  padding: 2%;
  font-family: "Amatic SC", sans-serif;
  font-size: 3.5vw;
  overflow: hidden;
}

#mainnav a {
  color: #fff;
  text-decoration: none;
  padding: 0 25px;
  baseline-shift: -20px;
}

#mainnav a:hover {
  border: 1px solid #fff;
}

#mainnav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#mainnav li {
  display: inline;
  text-align: center;
  margin: 0 2%;
}

/* HEADER */

header {
  background: url("images/burger2.jpg") fixed no-repeat; /* remove fixed when on mobile */
  background-size: 110%;
  height: 100%;
  padding: 10% 0;
  overflow: auto;
}

#blurbcontainer {
  float: right;
  width: 35%;
  margin: 0 4%;
  overflow: auto;
}

#blurb {
  background: #fff;
  padding: 3% 7%;
  width: 86%;
  overflow: auto;
}

#button {
  width: 100%;
  float: right;
  overflow: hidden;
  background: #308e82;
}

#buttoncontainer {
  overflow: hidden;
  margin: 2% 10%;
  display: block;
}

#buttontext {
  font-family: "Amatic SC", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  float: left;
  margin: 0;
  padding: 0;
}

/* POSTS */

#posts {
  background: #efe9e8;
  overflow: hidden;
  padding: 2.5vw;
  color: #fff;
}

.post {
  width: 27.5vw;
  height: 27.5vw;
  float: left;
  clear: right;
  background: url("images/quesadilla.jpg");
  background-size: 100%;
  margin: 2vw;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 27.5vw;
  height: 27.5vw;
  background: rgba(125,69,68,0.6);
  position: absolute;
  top: 0;
}

a:hover .overlay {
  visibility: hidden;
}

a:hover .post-title {
  visibility: hidden;
}

.post-date {
  text-align: center;
  overflow: auto;
  background: #308e82;
  width: 10vw;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

.post-date p {
  font-family: "Amatic SC", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.post-title {
  color: #fff;
  text-align: center;
  padding: 2% 10%;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5vw;

}

.post-button {
  background: #308e82;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.postarrow {
  margin: 15px;
  width: 50px;
}

.read {
  color: #fff;
}

@media (max-width: 800px) {

  header {
    background: url("images/burger2.jpg") no-repeat center;
    background-size: auto 150%;
    overflow: hidden;
  }
  .post {
    width: 91vw;
    height: 40vw;
  }

  .overlay {
    width: 91vw;
    height: 40vw;
  }

  .post-date {
    width: 20vw;
  }

  .post-title {
    font-size: 6vw;
    padding: 2% 25%;
  }

  #topcontainer {
    height: 20vh;
  }

  #mainnav li {
    display: inti;
  }

  #blurbcontainer {
    width: 50%;
  }

  #logo {
    width: 25%;
  }

  #socialnav li {
    width: 20%;
  }

  #buttontext {
    font-size: 25px;
  }

  #topcontainer {
    min-height: 150px;
  }
}

@media (max-width: 500px) {
  #buttontext {
    font-size: 30px;
  }
  #blurbcontainer {
    width: 92%;
  }

  #blurb {
    background: rgba(255,255,255,0.7)
  }

  #topcontainer {
    height: 15vh;
  }

  #logo {
    width: 30%;
  }

  #socialnav li {
    width: 25%;
  }

  #mainnav ul {
    display: block;
  }

  #mainnav li {
    display: block;
    width: 90%;
    font-size: 10vw;
  }

  #topcontainer {
    min-height: 75px;
  }

}
