html  {
  background: url("../images/woodbg.jpg") repeat fixed;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  z-index: -1;
}

body {
  min-width: 300px;
}

a {
  text-decoration: none;
  color: #e06148; /* orange */
  font-weight: 600;
  transition: color ease 0.25s
  border: none;
}

a:hover {
  color: #308e82;
  border: none;
}

.arrow {
  width: 30px;
  margin-top: 2px;
  float: right;
}

a:hover .arrow,
a:hover .postarrow {
  background: url("../images/arrow-solid.png") no-repeat;
  background-size: 100%;
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  color: #7d4544; /* marsala */
  font-weight: 400;
}

p,
content p,
content ul, {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000;
}



/*TOP LEVEL RULES */

#top {
  width: 100%;
  overflow: hidden;
}

#topcontainer {
  margin: 2% 5%;
  overflow: hidden;
  height: 30vh;
  min-height: 200px;
}

#logo {
  width: 25%;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

#logo img {
  width: 95%;
  margin: 2.5%;
  transition: width ease 0.1s
}

#logo img:hover {
  width: 97%;
}

#socialnav {
  width: 70%;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

#socialnav a {
  border: none;
  text-decoration: none;
}

#socialnav ul {
  padding: 0;
  overflow: hidden;
}

#socialnav li {
  display: inline;
  width: 15%;
  float: right;
  margin-left: 5%;
}

#socialnav img {
  width: 77%;
  padding: 10%;
  transition: width ease 0.1s
}

#socialnav img:hover {
  width: 80%;
}

/* MAIN NAVIGATION */

#mainnav {
  background: #e06148; /* orange */
  padding: 2%;
  font-family: "Amatic SC", sans-serif;
  font-size: 3.5vw;
  overflow: hidden;
}

#mainnav a {
  color: #fff;
  text-decoration: none;
  padding: 0 25px;
  baseline-shift: -20px;
  border: 2px solid transparent;
  transition: border-color ease 0.1s;
  font-weight: 200;
}

#mainnav a:hover {
  border: 2px solid #fff;

}

#mainnav ul {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
}

#mainnav li {
  display: inline;
  text-align: center;
  margin: 0 5%;
}

/* PAGE NAVIGATION */

.post-navigation {
  background: #efe9e8;
  display: block;
  overflow: auto;
}

.pagination {
  overflow: auto;
  text-align: center;
  margin: 5%;
  padding: 5%;
  position: relative;
}

.post-navigation a {
  background: #e06148;
  position: relative;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2vw;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 5%;
}

.post-navigation a:hover {
  border: 2px solid #e06148;
  background: transparent;
  color: #e06148;
}

/* HEADER */

header {
  overflow: auto;
  height: 100%;
}

#postheader {
  background: url("../images/burger2.jpg") no-repeat center;
  background-size: 100%;
  padding: 20% 0;
}

#aboutheader {
  background: url("../images/aboutheader.jpg") no-repeat right;
  background-size: 110%;
  padding: 15% 0;
}

#homeheader {
  background: url("../images/burger2.jpg") fixed center no-repeat;
  background-size: 110%;
  padding: 10% 0;
}

#blurbcontainer,
#hai {
  float: right;
  width: 35%;
  margin: 0 4%;
  overflow: auto;
}

#blurb {
  background: #fff;
  padding: 3% 7%;
  width: 86%;
  overflow: auto;
}

#button {
  width: 100%;
  float: right;
  overflow: hidden;
  background: #308e82; /* teal */
}

#buttoncontainer {
  overflow: hidden;
  margin: 2% 10%;
  display: block;
}

#buttontext {
  font-family: "Amatic SC", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  float: left;
  margin: 0;
  padding: 0;
}

#hai {
  text-align: center;
  font-size: 4vw;
  border: 2px solid #fff;
}

#aboutme {
  font-family: "Amatic SC", sans-serif;
  color: #fff;
}

/* FOOTER */

footer {
  padding: 5%;
  text-align: center;
}

footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #fff;

  display: inline;
  margin: 0 auto;
}

/* POSTS */

#content {
  background: #efe9e8; /* off-white */
  overflow: hidden;
  padding: 5% 10%;
  color: #fff;
}

#posts {
  background: #efe9e8; /* off-white */
  overflow: hidden;
  padding: 2.5vw;
  color: #fff;
}

.post {
  width: 27.5vw;
  height: 27.5vw;
  float: left;
  clear: right;
  background: url("../images/quesadilla.jpg");
  background-size: 100%;
  margin: 2vw;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 27.5vw;
  height: 27.5vw;
  background: rgba(125,69,68,0.6);
  position: absolute;
  top: 0;
}


a:hover .overlay {
  visibility: hidden;
}

a:hover .post-title {
  visibility: hidden;
}

.post-date {
  text-align: center;
  overflow: auto;
  background: #308e82; /* teal */
  width: 10vw;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

.post-date p {
  font-family: "Amatic SC", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.post-title {
  color: #fff;
  text-align: center;
  padding: 2% 10%;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 2.5vw;

}

.post-button {
  background: #308e82; /* teal */
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.postarrow {
  margin: 15px;
  width: 50px;
}

.read {
  color: #fff;
}

#infobox {
  border: 2px solid #308e82;
  color: #308e82;
  width: 35%;
  float: left;
  margin: 4vh 5vw 3vw 0;
  overflow: auto;
}

#date {
  float: right;
  margin: 0 0 15% 0;
  padding: 5%;
  color: #308e82;
  font-family: "Amatic SC", sans-serif;
  font-size: 4vw;

}

#title {
  float: right;
  margin: 0;
  padding: 5%;
  font-size: 4vw;
  text-align: right;
}

#comments {
  padding: 10%;
}

#comments p {
  color: #fff;
}

/* RESPONSIVE */

@media (max-width: 1000px) {

  #homeheader {
    background: url("../images/burger2.jpg") no-repeat fixed center;
    background-size: 200% auto;
    overflow: hidden;
  }

  #mainnav {
    background: #e06148;
    padding: 2%;
    font-family: "Amatic SC", sans-serif;
    font-size: 4vw;
    overflow: hidden;
  }

  #mainnav li {
    margin: 0 3.5%;
  }

  #blurbcontainer {
    width: 50%;
  }

@media (max-width: 800px) {

  .post {
    width: 91vw;
    height: 40vw;
  }

  .overlay {
    width: 91vw;
    height: 40vw;
  }

  .post-date {
    width: 20vw;
  }

  .post-title {
    font-size: 6vw;
    padding: 2% 25%;
  }

  #topcontainer {
    height: 20vh;
  }

  #mainnav li {
    display: inti;
  }

  #blurbcontainer {
    width: 60%;
  }

  #logo {
    width: 25%;
  }

  #socialnav li {
    width: 20%;
  }

  #buttontext {
    font-size: 25px;
  }

  #topcontainer {
    min-height: 150px;
  }

  #mainnav {
    font-size: 5vw;

  }
  #mainnav li {
    margin: 0%;
  }

  a:hover .overlay {
    visibility: visible;
  }

  a:hover .post-title {
    visibility: visible;
  }

  #infobox {
    width: 50%;
  }
}

@media (max-width: 500px) {

  #infobox {
    width: 100%;
  }

  #date {
    margin: 0;
    font-size: 8vw;

  }

  #title {
    float: right;
    margin: 0;
    padding: 5%;
    font-size: 8vw;
    text-align: right;
  }

  #homeheader {
    background: url("../images/burger2.jpg") no-repeat fixed center;
    background-size: 300% auto;
    overflow: hidden;
  }

  #buttontext {
    font-size: 30px;
  }
  #blurbcontainer {
    width: 92%;
  }

  #blurb {
    background: rgba(255,255,255,0.7)
  }

  #topcontainer {
    height: 15vh;
  }

  #logo {
    width: 30%;
  }

  #socialnav li {
    width: 25%;
  }

  #mainnav ul {
    display: block;
  }

  #mainnav li {
    display: block;
    width: 100%;
    font-size: 8vw;
  }

  #topcontainer {
    min-height: 75px;
  }
}
